@model ShoeStore.Models.Brand

@{
    ViewData["Title"] = "Thêm thương hiệu";
    ViewData["ActiveMenu"] = "brand";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Thêm thương hiệu</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <a asp-action="Index">Thương hiệu</a>
            </li>
            <li class="separator">
                <i class="fas fa-angle-right"></i>
            </li>
            <li class="nav-item">
                <span>Thêm mới</span>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Thông tin thương hiệu</div>
                </div>
                <form asp-action="Create">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="required">Tên thương hiệu</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
                        <a asp-action="Index" class="btn btn-danger">Hủy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <style>
        .required:after {
            content: ' *';
            color: red;
        }
    </style>
}
