@{
    ViewData["Title"] = "Access Denied";
    Layout = "_LoginLayout";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <p>Bạn không có quyền truy cập trang này.</p>
    <a asp-area="Admin" asp-controller="Account" asp-action="Login" class="btn btn-primary">Quay lại trang đăng nhập</a>
</div>
