@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Page";
}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a asp-action="Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="~/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">How We Started</h2>
                </div>
                <p>
                    How We Started – Câu Chuyện Khởi Nguồn của APT Shop
                    APT Shop được thành lập với một khát vọng đơn giản nhưng đầy ý nghĩa: mang đến những đôi giày chất lượng tốt nhất, thời thượng nhất với giá cả hợp lý cho mọi người.

                    Hành trình từ niềm đam mê đến hiện thực
                    Khởi nguồn từ tình yêu đối với thời trang và giày dép, đội ngũ sáng lập của APT Shop nhận ra rằng mỗi đôi giày không chỉ là một phụ kiện mà còn là một phần quan trọng thể hiện phong cách, cá tính và câu chuyện của người sử dụng. Với suy nghĩ đó, chúng tôi quyết định xây dựng một thương hiệu chuyên biệt, nơi khách hàng có thể tìm thấy những đôi giày không chỉ đẹp mắt mà còn bền bỉ và thoải mái.

                    Những bước đầu đầy thử thách
                    Như mọi câu chuyện khởi nghiệp khác, APT Shop cũng đối mặt với những thử thách:

                    Nguồn cung ứng sản phẩm chất lượng cao: Chúng tôi đã hợp tác với những nhà sản xuất uy tín, kiểm tra nghiêm ngặt từng sản phẩm trước khi đưa ra thị trường.
                    Hiểu nhu cầu khách hàng: Từng sản phẩm của APT Shop đều được lựa chọn kỹ lưỡng dựa trên xu hướng thời trang mới nhất và phản hồi của khách hàng.
                    Định hình thương hiệu: Với sự cống hiến và chăm chút từng chi tiết, chúng tôi dần xây dựng được lòng tin và sự yêu mến từ khách hàng.
                    Chúng tôi của hôm nay
                    Ngày nay, APT Shop tự hào đã trở thành một điểm đến quen thuộc cho hàng ngàn khách hàng yêu thích giày:

                    Sản phẩm đa dạng: Từ giày thể thao, giày thời trang, đến giày cao gót, công sở và trẻ em.
                    Mạng lưới giao hàng toàn quốc: Đảm bảo mỗi sản phẩm đến tay khách hàng một cách nhanh chóng và an toàn.
                    Chất lượng dịch vụ: Không chỉ cung cấp giày, APT Shop còn mang đến trải nghiệm mua sắm tuyệt vời.
                    Tầm nhìn tương lai
                    Với khát khao không ngừng đổi mới, APT Shop cam kết sẽ tiếp tục mang đến những sản phẩm chất lượng vượt trội, dịch vụ khách hàng tốt nhất và trở thành người bạn đồng hành đáng tin cậy trong hành trình thời trang của bạn.

                    APT Shop – Hành trình từ đam mê đến sự tin yêu của bạn.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">

                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Nguyễn Huỳnh Tường An</h3>
                            <p class="block-38-subheading">CEO/Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Phụ trách làm code, lên ý tưởng. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Trần Khắc Thương</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Phụ trách hỗ trợ, lên ý tưởng </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Patrick Marx</h3>
                            <p class="block-38-subheading">Marketing</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Mike Coolbert</h3>
                            <p class="block-38-subheading">Sales Manager</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Shipping</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Returns</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Customer Support</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
                </div>
            </div>
        </div>
    </div>
</div>
